@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

html {
  scroll-behavior: smooth;
  body {
    font-size: 13pt;
    background-color: #f8f9fa;
  }
}
.problems {
  margin: 0px;
  padding: 0px;

  .problem {
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    &.success {
      background-color: #f6fdf7;
      border: 1px solid #c3e6cb;
    }
    &.warning {
      background-color: #fefef0;
      border: 1px solid #e4e6c3;
    }
    @include box-shadow(0px, 0px, 5px, rgba(100, 100, 100, 0.2));
    .problem-description {
      p {
        word-wrap: break-word;
      }
      .CodeMirror-scroll {
        min-height: 80px;
        max-height: 200px;
      }
    }
    .before-code, .after-code {
      .CodeMirror-scroll {
        min-height: 80px;
        max-height: 300px;
      }
    }
    .live-code-view, .given-code, .live-code, .solution-code, .student-code {
      .CodeMirror-scroll {
        min-height: 300px;
        max-height: 600px;
      }
    }

    .completion-info {
      padding-top: 10px;
      color: #aaa;
      text-align: center;
    }

    .btn-toolbar {
      margin-bottom: 10px;
    }
    .session-open {
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f059  ";
        color: #2cbe4e;
      }
      p{
          display:inline-block;
          margin: 0px;
      }
      margin: 0px;
    }
    .session-close {
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f057  ";
          color: #cb2431;
        }
        p{
            display:inline-block;
            margin: 0px;
        }
        margin: 0px;
      }
  }
  .no-problems {
    list-style: none;
    text-align: center;
    padding: 40px;
    color: #aaa;
  }
  .multiple-choice {
    &.isCorrect {
    }
    &.isIncorrect {
    }
    &:not(.answer-revealed) {
      tr {
        label:hover {
          background-color: #f9f9f9;
        }
      }
    }
  }
  .multiple-choice-table {
    // border-top: 1px solid #eee;
    tr {
      td {
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: none;
        label {
          padding: 5px;
          display: block;
        }
      }
    }
    .multiple-choice-option {
      > p {
        display: inline;
      }
    }

    .selectionCount {
      text-align: right;
      color: #999;
    }
  }

  .no_solution {
    color: #999;
    font-style: italic;
  }

  .solution {
    margin-top: 10px;
    .random-solution-selection {
      text-align: center;
    }
    .solution-details {
      text-align: left;
    }
  }
  .puzzle-editor {
    padding-right: 0px;
  }
  .puzzle-header {
    padding: 10px;
    background: white;
    border: 1px solid #eee;
    border-bottom: 0px;
  }

  .tests {
    .add-button {
      .btn {
        font-size: 0.8em;
        padding: 1px;
      }
    }
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border: 1px solid #eee;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    padding-top: 5px;
    small {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0px;
      display: block;
      // font-weight: lighter;
      // border-left: 1px solid rgba(0,0,0,.125);
      // @include box-shadow(inset 6px 0px 6px -6px #777);
    }
    .text-muted {
      margin-top: 10px;
    }
    .list-group-item {
      user-select: none;
      min-height: 15px;
      overflow-x: hidden;
      padding: 5px;
      font-size: 0.8em;
      p {
        display: none;
        margin-bottom: 0px;
        padding: 5px;
      }
      
      // @include box-shadow(inset 6px 0px 6px -6px #777;
      &.active {
        p {
          display: inline-block;
        }
        // background-color: inherit;
        // border: 1px solid #856404;
        // color: inherit;
        // border-color: #AAA;
        // border-left: none;
        // @include box-shadow(0px 6px 6px -6px #777);
      }
      &.instructor {
        // border-right: 10px solid #28a744;
      }
      &.student {
        // border-right: 10px solid #007bff;
      }

      &.passed.verified {
        &:not(.active) {
          background-color: #d0e6d0;
          color: #155724;
        }
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00c  ";
        }
      }
      &.failed.verified {
        &:not(.active) {
          background-color: #f8d6da;
          color: #721c24;
        }
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00d  ";
        }
      }
      &.pending.verified {
        &:not(.active) {
          background-color: #fff3cd;
          color: #856404;
        }
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f141  ";
        }
      }

      // &.verified {
      //     border-right: 10px solid #17a2b8;
      // }
      &.unverified {
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f110  ";
          color: #bbb;
          float: right;
        }
      }
      &.not-verified {
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f05e  ";
          color: #bbb;
          float: right;
        }
      }

      .test-actions {
        text-align: right;
        button {
          font-size: 0.8em;
          padding: 2px;
        }
      }

      // &:first-child {
      //     border-top-left-radius: 0px;
      //     border-top-right-radius: 0px;
      // }
      // &:last-child {
      //     border-bottom-left-radius: 0px;
      //     border-bottom-right-radius: 0px;
      // }
    }
  }
}

.code-editor {
  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }
  &.readOnly {
    .CodeMirror {
      background-color: #eee;
      .CodeMirror-gutters {
        background-color: #eee;
      }
      .CodeMirror-linenumber {
        color: #ccc;
      }
      .CodeMirror-cursors {
        visibility: hidden !important;
      }
    }
  }
}

.codeOutput {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
  max-height: 500px;
  text-indent: 0px;
  padding: 10px;

  &.no-error {
    border: 1px solid #eee;
  }
}
.quit-help-button {
  margin-top: 20px;
}

.import-export {
}

.session-list-button-open-close{
    display:inline-block;
    float: left;
    button{
        margin-right: 20px;
    }
}
.session-list-button-new{
  display:inline-block;
  float: right;
}

.live-code-tests {
  z-index:100;
}

nav {
  input[type="file"] {
    display: none;
  }
  label.file-upload {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}
.allUsers,.leaderboard {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.75em;
  .rank {
    .tie {
      color: #AAA;
    }
    &::before {
      content: '#';
    }
  }
  .leaderboardUser {
    // white-space: nowrap;
    margin-right: 5px;
  }
  .isUser {
    font-weight: bold;
    .user_alias {
      text-decoration: underline;
      &::before {
        content: '**';
      }
      &::after {
        content: '**';
      }
    }
  }
  .users {
    // line-break: strict;
    // white-space: pre;
    word-wrap: break-word;
    overflow-wrap: break-word;
    // height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;

    // border: 1px solid #eee;

    color: #666;
    a.user {
      color: #999;
      &.selected {
        color: royalblue;
        text-decoration: underline;
      }
    }
  }
}

.graphics {
  background-color: white;
}

.tests {
  table {
    margin-bottom: 0px;
  }
  .test p {
    margin: 0px;
  }
  .no-tests {
    text-align: center;
    color: #aaa;
  }
}

.file {
  margin-top: 15px;
  margin-bottom: 15px;

  .fileInfo,
  .fileData {
    font-size: 0.8em;
  }
  .fileInfo {
    .filename {
      font-weight: bold;
      margin-right: 5px;
      color: #333;
      padding-left: 10px;
    }
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .fileData {
    white-space: pre-line;
    word-wrap: break-word;
    overflow: auto;
    max-height: 300px;
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;

    textarea {
      width: 100%;
    }
  }
}

.test-type-name {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact {
  margin-top: 20px;
  text-align: center;
  color: #aaa;
  a {
    &:hover {
      text-decoration: underline;
      color: #999;
    }
    text-decoration: none;
    color: #aaa;
  }
}

.test-template {
  margin-top: 20px;
}

.config-panel {
}

.test-head {
  margin: auto;
}

.test-btn {
  margin-top: 10px;
}

.variable-value {
  display: inline-block;
  width: 80%;
}

.problem-notes-admin {
  border: solid 1px #eeeeee;
  text-indent: 10px;
}
.test-case-message {
  padding-top: 15px;
}

.problem-notes {
  word-wrap: break-word;
  // position: absolute;

  h1 {
    font-weight: bold;
    font-size: 24px;
  }

  h2 {
    font-weight: bold;
    font-size: 22px;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  h4 {
    font-weight: bold;
    font-size: 18px;
  }
  h5 {
    font-weight: bold;
    font-size: 16px;
  }
}

.help-sessions-list {
  margin-top: 20px;
}
.solution-list-button {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 20px;
}
.edit-switch {
  color: #6c757d;
  font-size: 15px;
  text-align: center;
}
.students-add-switch {
  margin-top:20px;
}
.instructions-admin {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.instructions-text{
  color: #6c757d;
  font-size: 15px;
  padding: 10px;
}
.nav-given-first{
  margin-left: 50px;
}
.instructor-puzzle-container{
  margin-top:20px;
  margin-bottom: 20px;
}
.no-messaages{
  color:#6c767d;
  font-size: 15px;
  text-align: center;
}
// .test-list-item.invalid {
//     display: none;
// }

// .test-list-item.unknown {
//     display: none;
// }

// .test-list-item.isadmin {
//     display: block;
// }

// .test-list-item.isedit {
//     display: block;
// }

// .test-list-item.isedit.invalid {
//     i{
//         color: #ce2335;
//     }
// }

// .test-list-item.isedit.unknown {
//     i{
//         color: #ffa600;
//     }
// }

// .test-list-item.isedit.valid {
//     i{
//         color: #6fc155;
//     }
// }

// .test-list-item.isadmin.invalid {
//     color: #ce2335;
// }
// .test-list-item.isadmin.unknown {
//     color: #ffa600;
// }
// .test-list-item.isadmin.valid {
//     color: #6fc155;
// }

// .test-list-item.active {
//     background: white;
//     color: black;
//     font-weight: bold;
//     border-color: #dfdfdf;
//     border-left-width: 20px !important;
// }

// .test-list-item.instructor {
//     border-left: 10px solid #28a744;
// }

// .test-list-item.student {
//     border-left: 10px solid #007bff;
// }

.result-badge {
  margin-left: 10px;
}
.student-tab {
  margin-bottom: 20px;
}

.instructor-tab {
  margin-top: 0px;
  padding-top:20px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
}
.result-success {
  color: green;
}
.result-fail {
  color: #ca0000;
}

.testResult {
  margin-top: 10px;
}
.chat-messages-wrapper {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #eee;
  margin-bottom: 12px;
  padding: 5px;
}

.session-head {
  margin-top: 20px;
  margin-bottom: 20px;
}

.session-body {
    margin-bottom: 20px;
}

.content {
  padding-top: 10px;
  padding-bottom: 0px;
}

.return-button{
    &::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053  ";
    }
}
.match-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.chat-message-item {
  .chat-content{
    padding: 1px 10px;
  }
  .timestamp {
    margin-left: 5px;
    color: #bbb;
    font-size: 0.7em;
  }
  .sender {
    font-weight: bold;
    color: #aaa;
  }
}

.related-button {
  margin-top: 20px;
}

.feedback{
  text-align:center;
  padding: 50px;
}

.isSender{
  text-align: right;
  .sender{
    color: #359457;
  }
}


.sketchAdmin {
  position: absolute;
  // left: 15px;
  width: 100%; //calc(100% - 30px);
  height: calc(100% - 17px);
}

.sketchStudent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sketchContainerAdmin {
  width: calc(100% - 30px);
}

.sketchContainerStudent {
  width: calc(100% - 30px);
}

.sketchMode {
  z-index: 99;
}

.colorSwatch {
  padding: 5px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}

.colorBox {
  width: 36px;
  height: 22px;
  border-radius: 2px;
}

.popoverColor {
  top: 32px;
  position: absolute;
  z-index: 999;
}

.coverColor {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.chat-header {
  padding: 1px 10px;
}

.chat-message-container:hover {
  background:#f7f7f7
}

