@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

html {
    scroll-behavior: smooth;
}
.problems {
    margin: 0px;
    padding: 0px;
    li {
        list-style-type: none;
    }
    .problem {
        margin-top: 35px;
        margin-bottom: 35px;
        border: 1px solid #EEE;
        padding-top: 20px;
        padding-bottom: 20px;
        &.passedAll {
            background-color: #f6fdf7;
            border: 1px solid #c3e6cb;
        }
        @include box-shadow(0px, 0px, 5px, rgba(100, 100, 100, 0.2));
        .problem-description {
            word-wrap: break-word;
        }

        .completion-info {
            padding-top: 10px;
            color: #AAA;
            text-align: center;
        }
    }
    .no-problems {
        list-style: none;
        text-align: center;
        padding: 40px;
        color: #AAA;
    }
    .multiple-choice {
        &.isCorrect {
        }
        &.isIncorrect {
        }
        &:not(.answer-revealed) {
            tr {
                label:hover {
                    background-color: #F9F9F9;
                }
            }
        }
    }
    .multiple-choice-table {
        border-top: 1px solid #EEE;
        tr {
            td {
                padding-top: 0px;
                padding-bottom: 0px;
                border-top: none;
                label {
                    padding: 5px;
                    display: block;
                }
            }
        }
        .multiple-choice-option {
            > p {
                display: inline;
            }
        }

        .selectionCount {
            text-align: right;
            color: #999;
        }
    }

    .no_solution {
        color: #999;
        font-style: italic;
    }
}
.CodeMirror {
    border: 1px solid #EEE;
    height: auto;
}

.codeOutput {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    max-height: 500px;
    text-indent: 0px;
    padding: 10px;

    &.no-error {
        border: 1px solid #EEE;
    }
}
.quit-help-button {
    margin-top: 20px;
}

.import-export {
}

nav {
    input[type="file"] {
        display: none;
    }
    label.file-upload {
        margin-bottom: 0px;
        margin-right: 5px;
    }
}
.allUsers{
    font-size: 0.75em;
    .users {
        // line-break: strict;
        // white-space: pre;
        word-wrap: break-word;
        // overflow-wrap: break-word;
        // height: 100px;
        // overflow-x: hidden;
        overflow-y: scroll;
        max-height: 200px;

        border: 1px solid #EEE;
        
        color: #666;
        a.user {
            color: #999;
            &.selected {
                color: royalblue;
                text-decoration: underline;
            }
        }
    }
}

.graphics {
    background-color: white;
}

.tests {
    margin-top: 10px;
    table {
        margin-bottom: 0px;
    }
    .test p {
        margin: 0px;
    }
    .no-tests {
        text-align: center;
        color: #AAA;
    }
}

.file {
    margin-top: 15px;
    margin-bottom: 15px;

    .fileInfo, .fileData {
        font-size: 0.8em;
    }
    .fileInfo {
        .filename {
            font-weight: bold;
            margin-right: 5px;
            color: #333;
            padding-left: 10px;
        }
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .fileData {
        white-space: pre-line;
        word-wrap: break-word;
        overflow: auto;
        max-height: 300px;
        border: 1px solid #EEE;
        padding: 10px;
        margin-top: 3px;
        margin-bottom: 3px;

        textarea {
            width: 100%;
        }
    }
}


.contact {
    margin-top: 20px;
    text-align: center;
    color: #AAA;
    a {
        &:hover {
            text-decoration: underline;
            color: #999;
        }
        text-decoration: none;
        color: #AAA;
    }
}

.test-template {
    margin-top: 20px;
}

.config-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.test-head {
    margin:auto;
}

.test-btn {
    margin-top:10px;
}

.variable-value {
    display: inline-block;
    width: 80%;
}

.problem-notes {
    word-wrap: break-word;
    position: absolute;
    h1 {
        font-weight: bold;
        font-size: 24px;
      }
      
    h2 {
        font-weight: bold;
        font-size: 22px;
    }
    h3 {
        font-weight: bold;
        font-size: 20px;
    }
    h4 {
        font-weight: bold;
        font-size: 18px;
    }
    h5 {
        font-weight: bold;
        font-size: 16px;
    }
}

.progress {
    background-color: #909090
}
.result-badge {
    margin-left: 10px;
}
.student-tab {
    margin-bottom:20px;
}

.instructor-tab {
    margin-top: 20px;
}
.result-success {
    color: green
}
.result-fail {
    color: #ca0000;
}

.testResult {
    margin-top: 10px;
}

.sketchAdmin {
    position: absolute;
    left: 15px;
    width: calc(100% - 30px);
    height: 300px;
}

.sketchStudent{
    position: absolute;
    width: calc(100% - 30px);
    height: 300px;
}
.sketchMode{
    z-index: 99;
}

.colorSwatch {
    padding: 5px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
}

.colorBox {
    width: 36px;
    height: 22px;
    border-radius: 2px;
}

.popoverColor{
    top: 32px;
    position: absolute;
    z-index: 999;
}

.coverColor{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}